.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.wpmBlock{
    background: var(--green);
    padding: 13px;
    border-radius: 5px;
}
.wpmAccent{
    text-decoration: underline;
}