* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  --green: #CDEAC0;
  --dark-green: #ff8c51;
  font-family: JetBrains Mono;
}
header a{
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Notable';
  src: url('../assets/fonts/Notable-Regular.ttf');
}

@media(max-width: 1920px){ /* desktop */
  header, main{
    padding: 0 150px;
  }

}
@media(max-width: 768px){ /* tablet */
  header, main{
    padding: 0 90px;
  }

}
@media(max-width: 480px){ /* mobile */
  header, main{
    padding: 0 10px;
  }

}