.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--green);
}
.nav{
    display: flex;
    gap: 25px
}
.name{
    font-family: Notable;
}
.description{
    font-size: 12px;
}